@font-face {
  font-family: Gotham;
  src: url(Gotham-Bold.ttf)
}

body {
  background-image: url(../images/background.jpg);
  margin: 0;
  padding: 0;
}

#upcoming {
  text-align: center;
}

#upcoming h1{
  font-family: Gotham;
  color: #d11241;
}

#upcoming img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.329);
  border-radius: 5px;
}

.below {
  text-align: center;
}

.below img{
  display: inline-block;
  margin: 10px;
  border-radius: 3px;
  height: 300px;
  box-shadow: black 5px 10px 20px;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.logo-image{
  height: 90px;
  margin-left: 25px;
  margin-bottom: -10px;
}

.logo-image img{
  height: 80px;
  box-shadow: none !important;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #d11241;
  border-radius: 5px;
}

.toggle-button {
  position: absolute;
  top: 30px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 700px) {
  #upcoming {
    width: 90%;
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}
